.img {
  height: 70vh;
  width: 100%;
  border-radius: 30px;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 5%;
}

.card {
  padding: 5%;
  width: 100%;
  height: 100vh;
  border-radius: 20px;
}

.body {
  padding: 5%;
  background: linear-gradient(to bottom, #99ffcc 0%, #99ff66 100%);
}

.button {
  border-radius: 20px;
  justify-self: center;
}

.buttons_div {
  height: 70vh;
  align-items: center;
  padding: 30%;
  border-radius: 20px;
}

.skip {
  background: green;
  font-weight: bolder;
  color: white;
  border: 2px solid white;
  height: 20vh;
}

.head {
  height: fit-content;
  text-align: center;
  color: #9933ff;
  background: linear-gradient(to bottom, #99ffcc 0%, #99ff66 100%);
}

@media screen and (max-width: 720px) {
  .img {
    height: 50vh;
    width: 100%;
    border-radius: 30px;
    padding: 2%;
  }
  .buttons_div {
    height: 30vh;
    align-items: center;
    padding: 10%;
    border-radius: 20px;
    width: 70%;
    align-self: center;
  }
  .card {
    width: 100%;
    border-radius: 20px;
  }

  .btn_container{
    display: flex;
    justify-content: center;
  }
}
